<% flash.each do |msg| %>
   <div class="alert alert-danger" role="alert">
   <%= msg %>
   </div>
<% end %>
<div class="container mt-5 form-group">
   <div class= "bg-light container fieldset mt-3 mr3 pt-3 fieldset col-lg-4 ">
       <h1 class="text-center border-bottom">Modifier le profil</h1>
       <br>
       <%= form_for @user do |f| %>
       <%= f.label :first_name %>:
       <%= f.text_field :first_name %><br />
     
       <%= f.label :last_name %>:
       <%= f.text_field :last_name %><br />


       <%= f.label :description %>:
       <%= f.text_area :description %><br />
     
       <%= f.submit %>
     <% end %>
  </div>