<div class="">
  <div class="ml-4 mt-4 mb-4">
      <div class="card bg-light flex-row flex-wrap" style="width: 600px;">
        <div class="card-header border-0 bg-light">
            <img class="card-img-top img-thumbnail" src="https://images.pexels.com/photos/1446948/pexels-photo-1446948.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=150&w=200" alt="Card image cap">
        </div>
      <div class="bg-light">
            <div class="actions">
            <br>
            <% current_user.first_name == nil || current_user.last_name == nil || current_user.description == nil %>
            <%= button_to "Mettre à jour vos informations", edit_user_path, class: 'float-right btn btn-success', method: 'get' %>
            <br>
            <%= button_to "Modifier email/mot de passe", edit_user_registration_path, class: 'float-right btn btn-secondary', method: 'get' %>
            </div>
          <br/><br/>
          <h5 class="card-title font-weight-bold"><%= @user.first_name%> <%= @user.last_name%></h5>
            <br>
            <p class="card-text text-body"><strong>Email :</strong> <%= @user.email %></p>
            <p class="card-text text-body"><strong>Description :</strong> <%= @user.description %></p>
          </div>
      </div>
  </div>
  </div>
<div class="container">
    <h1> Les events que tu organises</h1>
    <div class="album py-5 ">
        <div class="row">
        <% @user_events.each do |event| %>
            <div class="col-md-4">
            <div class="card" style="width: 80%;">
                <div class="card-body">
                <h5 class="card-title"><%=event.title%></h5>
                <h6 class="card-subtitle mb-2 text-muted">Description :  <%=event.description%></h6>
                <p class="card-text">Date : <%=event.start_date.strftime('%d-%m-%Y')%></p>
                <a href="#" class="card-link"><%= link_to "Lien de l'event", event_path(event.id) %></a>
                </div>
            </div>
            <br>
            </div>
        <% end %>
        </div>
    </div>
</div>