<div class="container mt-5 form-group">
  <div class= "bg-light container fieldset mt-3 mr3 pt-3 fieldset col-lg-4 ">
      <h1 class="text-center">Modifier l'événement</h1>
      <p class="border-bottom">
        <h2><%= @event.title %></h2>
        <%if @event.event_image.attached?%>
        <%= image_tag @event.event_image, alt: 'event_image', class:"card-img-top img-thumbnail"%>
      <%else%>
        <p>=== Il n'y a pas encore d'image lié à cet événement ===</p>
      <%end%>

      <p>Changer d'image ?
        <%= form_tag event_event_images_path(@event), class:"text-xs-center", multipart: true do %>
          <%= file_field_tag :event_image %>
          <%= submit_tag "mettre à jour" %>
        <% end %> </p>

      <%= form_for @event do |f| %>
          <%= f.text_field :title, class: "form-control", placeholder: "#{@event.title}" %>
          <br>
           <%= f.text_field :start_date, class: "form-control", placeholder: "#{@event.start_date}"  %>
          <br>
          <%= f.text_field :duration, class: "form-control", placeholder: "#{@event.duration}"  %>
          <br>
           <%= f.text_area :description, class: "form-control", placeholder: "Description"  %>
          <br>
          <%= f.text_field :price, class: "form-control", placeholder: "#{@event.price}"  %>
          <br>
          <%= f.text_field :location, class: "form-control", placeholder: "#{@event.location}"  %>
          
          <div class="form-group text-center">
              <button type="submit" class=" float-right btn btn-success">Appliquer</button>
         </div>
  <% end %>
  </div>
</div>