<header role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background: url(https://cdn.pixabay.com/photo/2015/05/15/14/50/concert-768722_960_720.jpg) no-repeat ; background-size : 100%; background-position: 70% 40%;">
    <div class="container">
      <h1 class="display-3 text-jumbo text-black">Bienvenue sur Eventbrite TLS</h1>
      <br>
      <p class="text-jumbo text-black font-weight-bold">Le meilleur site d'événements, ducon !
        <%= button_to "Créer un événement", new_event_path, class: 'align-right btn btn-primary', method: 'get' %>
      </p>
    </div>
  </div>
</header>
<br>
<div class="row">
<% @events.each do |event| %>
<div class="col-sm-4">
      <div class="card-body text-center" style="border-radius: 10px; border: solid; border-width: 1px; border-color: aquamarine; background-color: rgb(189, 235, 245); margin: 10px; padding: 10px;">
        <h5 class="card-title"><%= event.title %></h5>
        <h6 class="card-subtitle"> le </h6>
        <p class="card-text"><%= event.start_date.strftime('%d-%m-%Y') %></p>
        <h6 class="card-subtitle"> à </h6>
        <p class="card-text"><%= event.location %></p>
        <h6 class="card-subtitle">Description :</h6>
        <p class="card-text"><%= event.description %></p>
        <p class="card-text"> 
        <%= button_to "Plus d'infos", event_path(event.id), class: 'float-center btn btn-secondary', method: 'get' %></p>
      </div>
    </div>
  <%end%>
</div>


