<div class="row">
  <div class="col-sm-6">
        <div class="card-body text-center" style="border-radius: 10px; border: solid; border-width: 1px; border-color: aquamarine; background-color: rgb(189, 235, 245); margin: 10px; padding: 10px;">
          <h2><%= @event.title %></h2>
          <%if @event.event_image.attached?%>
          <%= image_tag @event.event_image, alt: 'event_image', class:"card-img-top img-thumbnail"%>
        <%else%>
          <p>=== Il n'y a pas encore d'image lié à cet événement ===</p>
        <%end%>
        <br><br>
          <h6 class="card-subtitle">Commence le : </h6>
          <p class="card-text"><%= @event.start_date.strftime('%d-%m-%Y') %></p>
          <h6 class="card-subtitle">Durée : </h6>
          <p class="card-text"><%= @event.duration %> minutes </p>
          <h6 class="card-subtitle">Description :</h6>
          <p class="card-text"><%= @event.description %></p>
          <h6 class="card-subtitle">Prix : </h6>
          <p class="card-text"><%= @event.price %> euros</p>
          <h6 class="card-subtitle">Lieu : </h6>
          <p class="card-text"><%= @event.location %></p>
          <h6 class="card-subtitle">Créé par : </h6>
          <p class="card-text"> <%= @event.user.first_name %> <%= @event.user.last_name %></p>

          <% if Attendance.where(user_id: current_user.id, event_id: params[:id]).count > 0  %>
          <p>Tu participes deja à cette sortie</p>
        <% elsif Event.where(user_id: current_user.id, id: params[:id]).count > 0 %>
          <%= button_to "Mon espace évènement", event_attendances_path(params[:id]), class: 'float-center btn btn-secondary', method: 'get' %>
        <% else %>
          <%= button_to "Participer", new_event_attendance_path(params[:id]), class: 'float-center btn btn-secondary', method: 'get' %>
        <% end %>
        </div>
      </div>
    </div>

