<div class="row">
  <div class="col-sm-6">
        <div class="card-body text-center" style="border-radius: 10px; border: solid; border-width: 1px; border-color: aquamarine; background-color: rgb(189, 235, 245); margin: 10px; padding: 10px;">
          <h5 class="card-title">Titre : <%= @event.title %></h5>
          <h6 class="card-subtitle">Commence le : </h6>
          <p class="card-text"><%= @event.start_date.strftime('%d-%m-%Y') %></p>
          <h6 class="card-subtitle">Durée : </h6>
          <p class="card-text"><%= @event.duration %> minutes </p>
          <h6 class="card-subtitle">Description :</h6>
          <p class="card-text"><%= @event.description %></p>
          <h6 class="card-subtitle">Prix : </h6>
          <p class="card-text"><%= @event.price %> euros</p>
          <h6 class="card-subtitle">Lieu : </h6>
          <p class="card-text"><%= @event.location %></p>
          <h6 class="card-subtitle">Créé par : </h6>
          <p class="card-text"> <%= @event.user.first_name %> <%= @event.user.last_name %></p>
          <div class="container">
            <br>
            <h2>Participants de l'évènement</h2>
            <br>
          </div>
          <ul class="list-group">
            <% @attendances.each do |attendance| %>
            <li class="list-group-item"><%= attendance.user.first_name %> <%= attendance.user.last_name %></li>
            <% end %>
          </ul>
          <br/>
          <div class="actions flex-row">
            <%= button_to "Modifier l'évènement", edit_event_path(params[:event_id]), class: 'btn btn-secondary mb-3 ml-3', method: 'get' %>
            <%= button_to "Supprimer l'évènement", event_path(params[:event_id]), data: { confirm: "Etes-vous sûr ?" }, method: :delete, class: ' btn btn-sm btn-outline-danger' %>
            </div>
        </div>
      </div>
    </div>
