<html>
<head>
    <title>Participation à l Event : <%= @event.title %> </title>
  </head>
  <body>
    <div class="card-header text-center">
      <h3>Event : <%= @event.title %> </h3>
    </div>
    <br>
    <div class="d-flex justify-content-around text-center">
      <div class="card " style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Description : <%= @event.description %></p>
          <p class="card-text">Date  : <%= @event.start_date %></p>
          <p class="card-text">Durée : <%= @event.duration %></p>
          <hr class="my-4">
        </div>
      </div>
    </div>
  <br>
  <%= form_tag event_attendances_path do %>
    <div class="d-flex justify-content-around text-center">
          <div class="card " style="width: 18rem;">
            <div class="card-body">
            <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span> Montant Participation: <%= @amount/100 %> € </span>
            </label>
          </article>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Participation à l'êvenement"
                  data-amount= <%= @amount  %>
                  data-locale="auto"></script>
            </div>
          </div>
        </div>
  <% end %>
  </body>
</html>
